<h1 class="title">Pick a game to play</h1>

<div class="game-grid">
    <mat-card
    routerLink="/sudoku">
        <mat-card-title>Sudoku</mat-card-title>
        <img mat-card-image 
            src="../../assets/Sudoku.png" 
            class="game-image">
    </mat-card>
    <mat-card
    routerLink="/boggle">
        <mat-card-title>Boggle</mat-card-title>
        <img mat-card-image 
            src="../../assets/Boggle.png" 
            class="game-image">
    </mat-card>
    <mat-card
    routerLink="/chess">
        <mat-card-title>Chess</mat-card-title>
        <img mat-card-image 
            src="../../assets/Chess.png" 
            class="game-image">
    </mat-card>
    <mat-card
    routerLink="/crossword">
        <mat-card-title>Crossword</mat-card-title>
        <img mat-card-image 
            src="../../assets/Crossword.png" 
            class="game-image">
    </mat-card>
    <mat-card
    routerLink="/slider">
        <mat-card-title>Slider</mat-card-title>
        <img mat-card-image 
            src="../../assets/Slider.png" 
            class="game-image">
    </mat-card>
</div>