#main {
  position: absolute;
  --color: rgba(40, 40, 40, 1);
  --width: 10px;
  --height: 10px;
  --x: 0px;
  --y: 0px;
  display: flex;
  width: var(--width);
  height: var(--height);
  background-color: var(--color);
  border-radius: 10px;
  // border: solid rgba(255, 255, 255, 0.5) 1px;

  left: var(--x);
  top: var(--y);

  transition-property: left, top, opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  animation: fade-in 0.5s ease forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

#main::after {
  content: "";
  position: absolute;
  inset: 1px;
  // background-color: green;
  border-radius: inherit;
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: brightness(4);
  }
  to {
    opacity: 1;
    filter: brightness(1);
  }
}

#display-value {
  margin: auto;
  font-size: xx-large;
  font-weight: bold;

  user-select: none;
  // color: white;
  // font-family: 'cyber';

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 4000% 4000%;
  animation: gradient 10s ease infinite;
  color: white;
  // -webkit-text-stroke: 2px rgba(23, 23, 26, 0.8);
  // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#main:hover {
  filter: invert(1);
}