*, *::before, *::after {
    box-sizing: border-box;
}

:host {
    display:block;
    // justify-content: center;
    // align-items: center;
    // flex-direction: row;
    // border: solid green 3px;
}

.main {
    display: flex;
    justify-content: center;
}

.sidebars {
    flex-grow: 1;
    border: 1px green solid;
}

.toolbar-area {
    border: solid red 1px;
    align-items: center;
    width: 20 px;
    height: 200 px;
}

.mat-slider-configuration {
    display: flex;
    justify-content: center;
}

mat-slider {
    width: 200px;
}