*, *::before, *::after {
    box-sizing: border-box;
}

:host {
    display:block;
    // justify-content: center;
    // align-items: center;
    // flex-direction: row;
    // border: solid green 3px;
}

.main {
    display: flex;
    justify-content: center;
}

.toolbar-area {
    border: solid red 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

mat-slider {
    width: 200px;
}