*, *::before, *::after {
    box-sizing: border-box;
}

:host {
    display:block;
    // justify-content: center;
    // align-items: center;
    // flex-direction: row;
    // border: solid green 3px;
}

.main {
    border: solid green 1px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

// app-board {
//     justify-content: center;
//     // display: flex;
//     order: 1;
// }

.test {
    justify-content: center;
    order: 1;
}

.toolbar-area {
    border: solid red 1px;
    // display: flex-end;
    // justify-content: right;
    align-items: center;
    // flex-grow: 0.2;
    width: 20 px;
    height: 100 px;
    order: 2;
}



.configuration {
    display: flex;
    justify-content: center;
}

mat-slider {
    width: 200px;
}