<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar>
      <span class="logo" routerLink="/">
        <span>sudo </span><span class="grayed">--ku</span
        ><span class="blink">_</span>
      </span>

      <span class="fill-space"></span>
      <div>
        <a mat-button [matMenuTriggerFor]="games">Games </a>
        <mat-menu #games="matMenu">
          <button mat-menu-item routerLink="/sudoku">Sudoku</button>
          <button mat-menu-item routerLink="/boggle">Boggle</button>
          <button mat-menu-item routerLink="/chess">Chess</button>
          <button mat-menu-item routerLink="/crossword">Crossword</button>
          <button mat-menu-item routerLink="/slider">Slider</button>
        </mat-menu>

        <a mat-button routerLink="/account">My Account</a>
        <a mat-button routerLink="/login">Login</a>
      </div>

      <!-- DROPDOWN MENU -->

      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <a
          mat-menu-item
          href="https://github.com/jmichalka/AngularGames"
          target="_blank"
        >
          <mat-icon>source</mat-icon>
          <span>Go to Github page</span>
        </a>
        <a
          mat-menu-item
          href="https://drive.google.com/drive/folders/15fsfEQrfwjw-j4LBKp1Z9woAoUeWC95X?usp=sharing"
          target="_blank"
        >
          <mat-icon>source</mat-icon>
          <span>Planning</span>
        </a>
      </mat-menu>
    </mat-toolbar>

    <!-- TRANSCLUSION -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
