<main class="main">
    <!-- Main Board -->
    <table class="board"
        (contextmenu)="handleRightClick($event)">
        <tr *ngFor="let col of values; let i = index">
            <app-sudoku-cell 
            *ngFor="let cell of values[i]; let j = index"
                [id]="{ x: i + 1, y: j + 1 }"
                [promptValue]="values[i][j]"
                [size]=sliderValue>
            </app-sudoku-cell>
        </tr>
     </table>

     <!-- Other toolbars -->
    <mat-slider
        class="toolbar-top"
        [thumbLabel]="thumbLabel" 
        [min]="40" 
        [max]="120" 
        (input)="handleSliderChange($event)"
        [(ngModel)]=sliderValue>
    </mat-slider>
    <div class="toolbar-right">
        <app-palette></app-palette>
    </div>  
    <div class="toolbar-left">//TOOLBAR AREA//</div>
    <div class="toolbar-bottom">//TOOLBAR AREA//</div>
</main>