.cell {
    aspect-ratio: 1;
    height: 3em;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size: large;
    box-sizing: border-box;
    border: 1px black solid;
    // transition: color 0.5s;
    // border-radius: 5px;

    // Use this to remove text highlighting. Might need to remove 
    user-select: none;  
    // z-index: 2;
}

.leftBorder {
    border-left-width: 3px;
    // color: blue;
}

.rightBorder {
    border-right-width: 3px;
    // color: red;
}

.topBorder {
    border-top-width: 3px;
    // color: green;
}

.bottomBorder {
    border-bottom-width: 3px;
    // color: purple;
}

.cell:hover {
    background: gray;
    color: white;
    // transform: scale(1.1);
    cursor: pointer;
}

.value {
    font-size: large;
    font-weight: bolder;
    caret-color: transparent;

    // This doesn't seem to be doing anything \/
    user-select: none;
}