.cell {
    aspect-ratio: 1;
    height: 50px;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size: large;
    box-sizing: border-box;
    border: 1px black solid;
    transition: color 0.5s;
    border-radius: 5px;

    // Use this to remove text highlighting. Might need to remove 
    // user-select: none;  
}

.leftBorder {
 border-left: 3px green solid;
}

.rightBorder {
  border-right: 3px red solid;
}

.topBorder {
    border-top: 3px;
}

.bottomBorder {
    border-bottom: 3px gray solid;
}

.cell:hover {
    background: black;
    color: white;
    transform: scale(1.1);
}

.value {
    font-size: large;
    font-weight: bolder;
    caret-color: transparent;
}